@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
}

html, body {
	height: 100%;
}

body {
	font-size: 1rem;
	line-height: 1.65;
	background: rgb(52, 58, 64);
	color: #fff;
}

/*Main Styles*/

.uc__wrapper {
	height: 100vh;
	display: flex;
	justify-content: space-between;
}

.uc__details {
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	padding: 0 4rem;
	align-items: flex-start;
	justify-content: center;
}

.uc__art {
	flex-basis: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
    position: relative;
}

.uc__art img {
	width: 100%;
}

.title {
	display: inline-block;
	font-size: 40px;
	position: relative;
	margin-bottom: 1rem;
}

.title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #fff;
    width: fit-content;
}

.intro {
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 1rem;
}

.uc__description {
	margin-bottom: 2rem;
	line-height: 1.77;
	color: #ccc;
}

.uc__subscribe {
	background-color: rgb(255, 193, 7);
	padding: 1.5rem;
	width: 85%;
	border-radius: 3px;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
	margin: 0 auto;
}

.uc__subscribe h3 {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
	margin-bottom: 1rem;
}

.uc__form {
    position: relative;
    color: black;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.uc__form input {
	font-family: inherit;
	outline: none;
	font-size: 90%;
	padding: 10px 1rem;
	border: none;
	display: block;
	border-radius: 2px;
    display: inline-block;
    text-align: left;
    width: 80%;
}

.uc__form .email {
	width: 100%;
	background-color: #ecf0f1;
}

.uc__form .submit {
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgb(52, 58, 64);
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background-color .22s ease;
}

.uc__form .submit:hover {
	background-color: rgb(52, 58, 64);
}

.register-btn {
	border-radius: 20px;
	background-color: black;
	color: #fff;
}
.register-btn:hover {
    color: #eeebeb;
}

.password-container {
	position: relative;
  }
  
  .password-toggle {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
	height: 20px;
  }
  .password-toggle img {
	width: 20px;
	height: 20px;
  }

  .password-toggle-confirm {
	position: absolute;
	top: 50%;
	right: 10px;
	transform: translateY(-50%);
	cursor: pointer;
	height: 20px;
  }
  .password-toggle-confirm img {
	width: 20px;
	height: 20px;
  }
  
  .reminder {
	margin-top: 10px;
	font-size: 14px;
	color: #888;
  }

.back-button {
    color: #fff;
}
.image-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
  }

@media only screen and (max-width: 767px) {
	.uc__wrapper {
		height: auto;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.uc__details {
		flex-basis: 100%;
		padding: 0 2rem;
		text-align: center;
	}

	.uc__art {
		flex-basis: 100%;
		height: 50%;
	  }
	}

	.uc__subscribe {
		background-color: rgb(255, 193, 7);
		padding: 1.5rem;
		width: 85%;
		border-radius: 3px;
		box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25);
		margin: 0 auto;
	  }
    .uc__form .form-margin {
        text-align: center;
      }
	  @media only screen and (max-width: 767px) {
		.uc__form .password-container {
		  width: 100%;
		}
	  
		.uc__form input[type="password"] {
		  width: calc(100% - 40px);
		}
	  }
	  @media only screen and (max-width: 820px) {
		.uc__art {
			display: none;
		}
		.image-text {
			display: none;
		}
	  }
	  @media only screen and (max-width: 175px) {
		#user-icon-1 {
		  display: none;
		}
	  }
