@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
	font-family: 'Montserrat', sans-serif;
}

.section-spacing {
	padding: 100px 0;
}
/*--Sign In Html*/
.signin {
    height: 115vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: aliceblue;
}

.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: rgb(52, 58, 64);
}

.login h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

.login form {
    font-size: 20px;
}

.login form .form-group {
    margin-bottom: 12px;
}

.login form input[type="submit"] {
    font-size: 20px;
    margin-top: 15px;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
  }
  .d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
  }

  .header_font{
    font-size: 45px;
  }

  #log_btn{
    color: rgb(255, 193, 7);
    text-decoration: none;

  }
  #log_btn:hover{
    color: rgba(0, 0, 0, 0);
    text-decoration: none;

  }
  #log_btn:visited{
    color: rgb(255, 193, 7);
    text-decoration: none;
  }

  #signup_font{
    color:black;
    text-decoration: none;
    font-size: 20px;
  }
  #signup_font:hover{
    color:black;
    text-decoration: none;
  }
  #signup_font:visited{
    color:black;
    text-decoration: none;
  }
  @media only screen and (max-width: 767px) {
	.navbar-nav {
		text-align: center;
	}
    #log_size{
        font-size: 30px;
    }

} 
/*--Sign In Html*/
/*--Search Bar*/

#book:hover {
    box-shadow: 20px 20px 100px -50px #000;
    transition: 0.3s;
}

.card_size {
    height: 230px;
    width: 210px;
}
/*--Search Bar*/

/* icon styles */
#user-icon:hover {
   background-color: rgb(52, 58, 64);
}

#arcana:hover {
    color:rgba(0, 0, 0, 0);
}

#arcana:visited {
    color:rgba(0, 0, 0, 0);
}

#arcana {
    background-color: rgba(0, 0, 0, 0);
}
/* icon styles -end */
